<<<<<<< HEAD
section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

img{
    height: 400px;
width: 400px;
}

img:hover{
    opacity: 0.5;
    transform: scale(1.4);
=======
section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

img{
    height: 400px;
width: 400px;
}

img:hover{
    opacity: 0.5;
    transform: scale(1.4);
>>>>>>> 1dd61f722528e1950a4d633c52bc68af912ac971
}